.header {
  min-height: 150px;
  background-color: aquamarine;
  color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu {
  background-color: orange;
  padding: 10px;
  margin: 0px;
}
.main-menu ul li {
  display: inline;
  margin-left: 25px;
  padding: 7px;
}
