.header {
  min-height: 150px;
  background-color: aquamarine;
  color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: orange;
  padding: 10px;
  margin: 0px;
}
.main-menu ul li {
  display: inline;
  margin-left: 25px;
  padding: 7px;
  margin-right: 25px;
}
.main-menu .container{
  display: flex;
  flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
